In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/BlackFriday.csv")

# Ãºprava product ID na integer
data['Product_ID'] = data['Product_ID'].apply(lambda x: int(str(x).lstrip("P").lstrip("0")))

# print some info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null int64
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(6), object(4)
memory usage: 49.2+ MB

In [3]:
data.head(100)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,69042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,87842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,85442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,97242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,14542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,31342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,96642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,58442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,36842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,39942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,78742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,85942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
70,1000018,366542,F,18-25,3,B,3,0,5,NaN,NaN,1780
71,1000018,190742,F,18-25,3,B,3,0,3,4.0,9.0,10754
72,1000018,151842,F,18-25,3,B,3,0,4,8.0,9.0,2802
73,1000018,112642,F,18-25,3,B,3,0,1,2.0,5.0,19473
74,1000018,118442,F,18-25,3,B,3,0,1,2.0,NaN,19672
75,1000018,34442,F,18-25,3,B,3,0,1,14.0,16.0,19313
76,1000018,222242,F,18-25,3,B,3,0,1,2.0,13.0,15182
77,1000018,118342,F,18-25,3,B,3,0,2,3.0,15.0,15985
78,1000018,324742,F,18-25,3,B,3,0,2,9.0,14.0,16454
79,1000018,190042,F,18-25,3,B,3,0,3,4.0,5.0,13551
80,1000018,94142,F,18-25,3,B,3,0,4,5.0,NaN,697
81,1000018,138542,F,18-25,3,B,3,0,5,6.0,NaN,7030
82,1000018,158542,F,18-25,3,B,3,0,5,6.0,13.0,5430
83,1000018,157542,F,18-25,3,B,3,0,8,14.0,NaN,8011
84,1000018,44142,F,18-25,3,B,3,0,8,16.0,NaN,5912
85,1000019,112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
86,1000019,339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
87,1000019,127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
88,1000019,125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
89,1000019,251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
90,1000019,249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
91,1000019,124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
92,1000019,250642,M,0-17,10,A,3,0,11,NaN,NaN,4664
93,1000019,58142,M,0-17,10,A,3,0,3,4.0,12.0,8290
94,1000019,117442,M,0-17,10,A,3,0,5,14.0,NaN,7011
95,1000019,251642,M,0-17,10,A,3,0,1,2.0,4.0,4211
96,1000019,244842,M,0-17,10,A,3,0,11,NaN,NaN,1539
97,1000021,220242,M,18-25,16,B,0,0,3,12.0,NaN,3055
98,1000022,351142,M,18-25,15,A,4+,0,1,8.0,17.0,12099
99,1000022,213242,M,18-25,15,A,4+,0,5,8.0,NaN,8797

In [4]:
ref_list = ["www.google.com", "www.youtube.com", "www.facebook.com", "www.baidu.com", "www.wikipedia.org", "www.reddit.com", "www.yahoo.com", "www.qq.com", "www.taobao.com", "www.google.co.in", "www.amazon.com", "www.tmall.com", "www.twitter.com", "www.sohu.com", "www.instagram.com", "www.vk.com", "www.live.com", "www.jd.com", "www.sina.com.cn", "www.weibo.com", "www.yandex.ru", "www.360.cn", "www.google.co.jp", "www.google.co.uk", "www.list.tmall.com", "www.google.ru", "www.google.com.br", "www.netflix.com", "www.google.de", "www.google.com.hk", "www.pornhub.com", "www.twitch.tv", "www.google.fr", "www.linkedin.com", "www.yahoo.co.jp", "www.t.co", "www.csdn.net", "www.microsoft.com", "www.bing.com", "www.office.com", "www.ebay.com", "www.alipay.com", "www.xvideos.com", "www.google.it", "www.google.ca", "www.mail.ru", "www.ok.ru", "www.google.es", "www.pages.tmall.com", "www.msn.com", "www.google.com.tr", "www.google.com.au", "www.whatsapp.com", "www.spotify.com", "www.google.pl", "www.google.co.id", "www.xhamster.com", "www.google.com.ar", "www.xnxx.com", "www.google.co.th", "www.Naver.com", "www.sogou.com", "www.samsung.com", "www.accuweather.com", "www.goo.gl", "www.sm.cn", "www.googleweblight.com"]

In [5]:
import random

data['Refferal'] = ""
data['Refferal'] = data['Refferal'].apply(lambda x: random.choice(ref_list))

In [6]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Refferal
0,1000001,69042,F,0-17,10,A,2,0,3,NaN,NaN,8370,www.jd.com
1,1000001,248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,www.google.co.jp
2,1000001,87842,F,0-17,10,A,2,0,12,NaN,NaN,1422,www.twitch.tv
3,1000001,85442,F,0-17,10,A,2,0,12,14.0,NaN,1057,www.ebay.com
4,1000002,285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,www.csdn.net

In [7]:
# data.to_csv("data/BlackFridayEdit.csv", index=False)

In [15]:
users = data.drop(["Product_ID", "Product_Category_1", "Product_Category_2", "Product_Category_3", "Purchase"], axis=1)
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 8 columns):
User_ID                       537577 non-null int64
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Refferal                      537577 non-null object
dtypes: int64(3), object(5)
memory usage: 32.8+ MB

In [18]:
products = data[["User_ID", "Product_ID", "Product_Category_1", "Product_Category_2", "Product_Category_3"]]
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 5 columns):
User_ID               537577 non-null int64
Product_ID            537577 non-null int64
Product_Category_1    537577 non-null int64
Product_Category_2    370591 non-null float64
Product_Category_3    164278 non-null float64
dtypes: float64(2), int64(3)
memory usage: 20.5 MB

In [46]:
user_purchase = data[["User_ID", "Purchase"]].copy()
user_purchase = user_purchase.groupby("User_ID")["Purchase"].sum().reset_index()
user_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5891 entries, 0 to 5890
Data columns (total 2 columns):
User_ID     5891 non-null int64
Purchase    5891 non-null int64
dtypes: int64(2)
memory usage: 92.1 KB

In [47]:
users.to_csv("data/users.csv", index=False)
products.to_csv("data/products.csv", index=False)
user_purchase.to_csv("data/user_purchase.csv", index=False)